h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
}
header {
    background-color: rgb(37, 37, 37);
}
body {
    background-color: rgb(77, 77, 77);
}
h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    background-color: rgb(37, 37, 37);
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white; 
}
li {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;   
}

h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    
}
.container {
    text-align: center; 
  }
  .centered-image {
    display: inline-block; 
  }